<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jayjay.icpr">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".PerformCprActivity"
            android:label="@string/title_activity_perform_cpr"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".CallForHelpActivity"
            android:label="Emergency Section"
            android:theme="@style/AppTheme" />


        <activity
            android:name=".MoreInformationActivity"
            android:label="@string/title_activity_more_information"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".Step2Activity"
            android:label="@string/title_activity_Step2"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Step3Activity"
            android:label="@string/title_activity_Step3"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".Step4Activity"
            android:label="@string/title_activity_Step4"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".Step5Activity"
            android:label="@string/title_activity_Step5"
            android:theme="@style/AppTheme">

        </activity>
    </application>

</manifest>